<div class="container my-5 h-25">
  <h2 class="font title-border pb-1">注文明細</h2>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th>購入者</th>
        <td>
          <%= link_to admin_member_path(@order.member) do %>
            <%= @order.member.last_name %>
            <%= @order.member.first_name %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>注文日</th>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
      </tr>
      <tr>
        <th>配送先</th>
        <td><%= @order.address %></td>
      </tr>
      <tr>
        <th>支払方法</th>
        <td><%= @order.payment %></td>
      </tr>
      <tr>
        <th>注文ステータス</th>
        <td>
          <%= form_with model:@order, url:admin_order_path do |f| %>
            <%= f.select :status,Order.statuses.keys.to_a %>
            <%= f.submit "更新", class: "btn btn-success" %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
  <table class="table table-bordered col-md-7">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
      </tr>
    </thead>
    <tbody>
      <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.price.to_s(:delimited, delimiter: ',') %></td>
          <td><%= order_detail.amount %></td>
          <td><%= (order_detail.item.price * order_detail.amount).floor.to_s(:delimited, delimiter: ',') %></td>
          <td>
            <%= form_for (order_detail), url:admin_order_detail_path(order_detail) do |f|  %>
              <%= f.select :make_status, OrderDetail.make_statuses.keys.to_a %>
              <%= f.submit '更新',class:"btn btn-success" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <table class="table table-borderless col-md-2 ml-auto">
      <tbody>
        <tr>
          <th>商品合計</th>
          <td><%= (@order.total_price).to_s(:delimited, delimiter: ',') %></td>
        </tr>
        <tr>
          <th>送料</th>
          <td><%= @order.postage.to_s(:delimited, delimiter: ',') %></td>
        </tr>
        <tr>
          <th>請求合計金額</th>
          <td><%= (@order.total_price + 800).to_s(:delimited, delimiter: ',') %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
