<div class="container my-5 height">
  <div class="row">
    <!--ジャンル一覧-->
    <%= render 'public/items/genre', genres: @genres %>
    <!--商品詳細-->
    <%= attachment_image_tag @item, :image, :fill,500,300, format: 'jpeg', fallback: 'noimage.jpg' %>
    <div class="ml-5">
      <h3><strong><%= @item.name %></strong></h3>
      <h5 class="mb-5"><%= @item.body %></h5>
      <h5>¥<%= (@item.price*1.1).floor %>(税込)</h5>
      <!--カート追加ボタン-->
      <% if member_signed_in? %>
        <div class="item-count form-group">
          <%= form_with model: @cart_item,url: public_cart_items_path(item_id: @item), method: :post, local: true, class: 'form-inline mt-5' do |f| %>
            <%= f.select :amount, options_for_select({"1個"=>1, "2個"=>2, "3個"=>3, "4個"=>4, "5個"=>5}), class: 'cursor-pointer form-control'%>
            <%= f.submit 'カートに入れる', class: 'btn btn btn-success ml-5' %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

