<header>
  <div class="container-fluid bg-light">
    <nav class="navbar navbar-expand-md sticky-top navbar-light bg-light">
      <!--店名-->
      <div class="header-logo">
        <%= link_to root_path, class: 'navbar-brand mt-3 mr-auto' do %>
          <i class="fas fa-store-alt store-icon">ながのCAKE</i>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--ナビゲーションメニュー-->
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-3 mt-lg-0 ">
          <!--メンバーヘッダー-->
          <% if member_signed_in? %>
            <li class="mt-4 mr-5 font">ようこそ、<%= current_member.first_name %>さん！</li>
            <%= link_to public_mypage_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3 text">マイページ</li>
            <% end %>
            <%= link_to public_items_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">商品一覧</li>
            <% end %>
            <%= link_to public_cart_items_path, class:'nav-link' do %>
               <li class="nav-item btn btn-light mr-3">カート</li>
            <% end %>
            <%= link_to destroy_member_session_path, method: :delete, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">ログアウト</li>
            <% end %>
          <!--管理者ヘッダー-->
          <% elsif admin_signed_in? %>
            <%= link_to admin_items_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">商品一覧</li>
            <% end %>
            <%= link_to admin_members_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">会員一覧</li>
            <% end %>
            <%= link_to admin_orders_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">注文履歴一覧</li>
            <% end %>
            <%= link_to admin_genres_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">ジャンル一覧</li>
            <% end %>
            <%= link_to destroy_admin_session_path, method: :delete, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">ログアウト</li>
            <% end %>
          <!--ログイン前ヘッダー-->
          <% else %>
            <%= link_to homes_about_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">About</li>
            <% end %>
            <%= link_to public_items_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">商品一覧</li>
            <% end %>
            <%= link_to new_member_registration_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">新規登録</li>
            <% end %>
            <%= link_to new_member_session_path, class:'nav-link' do %>
              <li class="nav-item btn btn-light mr-3">ログイン</li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
    <!--検索フォーム-->
    <div class="text-right bg-light">

      <%= form_tag(public_search_path, method: :get) do %>
   　　　　<!--class: 'mr-3 w-25'-->
        <%= text_field_tag (:name)%>
        <i class="fas fa-search search-icon fa-flip-horizontal text-info"></i>
        　<% submit_tag %>
      <% end %>
     </div>
  </div>
</header>















